body {
    background-image: url(../gambar/galaxy-background-3000.jpeg);
    background-size: cover;
    background-color: aquamarine;
    font-family: 'Segoe UI';
    color: whitesmoke

}

/*CLASS diwakilkan oleh tanda titik (.)*/
.p0{
    color: aqua;
}

/*ID diwakilkan oleh tanda pagar (#)*/
#h1{
    font-style: italic;
}
#h2{
    font-style: italic;
}
#h3{
    font-style: italic;
}